{% extends 'analysis/base.html' %}
{% block malware_active %}active{% endblock %}
{% block malware__active %}active{% endblock %}

{% block body %}


    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Rule</th>
                                        <th>Owner</th>
                                        <th>Address</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in yara_list %}
                                    <tr>
                                    	{% with i as i %}
		                                	{% for j in i %}
		                                    <td>{{ j }}</td>
		                                    {% endfor %}
		                                {% endwith %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->
{% endblock %}
